{
    "extends": "airbnb",
    "rules": {
        "indent": ["error", 4],
        "brace-style": ["error", "stroustrup"],
        "no-underscore-dangle": "off",
        "object-shorthand": "off",
        "func-names": "off"
    },
    "env": {
        "browser": true,
        "es6": true,
        "jquery": true
    },
    "globals": {
        "Vue": true,
    }
}
